.reviewBoxContainer {
  font-size: 13px;
  width: 100%;

  .reviewBoxInnerContainer {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    background: #c4c4c410;

    .header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      color: #d3d3d3;
      font-weight: bold;

      .starRating span {
        display: inline-block;
      }
    }
  }
}

.postReviewContainer {
  width: 100%;
}

@media (min-width: 730px) {
  .reviewBoxContainer {
    .reviewBoxInnerContainer {
      width: 80%;
      margin: 0 auto;
    }
  }

  .postReviewContainer {
    width: 80%;
    margin: 15px auto;
  }
}
