.container {
  background: #c4c4c410;
  margin: 10px 0;
  min-height: 80px;
  width: 100%;
  padding: 15px;
  padding-bottom: 5px;
  box-sizing: border-box;
  border-radius: 5px;

  .imageCover {
    width: 100px;
    border-radius: 5px;
  }

  .imageCover:hover {
    cursor: pointer;
  }

  span {
    font-size: 10px;
    color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
  }

  .footerContainer {
    font-size: 10px;
    font-weight: bold;
  }
}

.volumeContainer {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px 9px;
  border-radius: 3px;
}

.volumeContainer:hover {
  cursor: pointer;
}

.chapterLabel {
  color: #d3d3d3;
  font-size: 11px;
  font-weight: bold;
  width: 70%;
}

@media (min-width: 730px) {
  .container {
    .imageCover {
      width: 112px;
    }

    .volumeTitle {
      font-size: 24px;
    }

    .footerContainer {
      font-size: 16px;
    }
  }

  .chapterLabel {
    font-size: 15px;
  }
}
