.container {
  width: 100%;
  margin: 0 auto;
  z-index: 10;
  background: rgba(127, 127, 127, 0.129);
  border-radius: 5px;
}

.content1 {
  color: #dfdfdf;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 24px 0;

  p {
    padding: 8px 0;
  }
}

.whysignup {
  padding: 4px;
  p {
    font-size: 10px;
  }

  span {
    padding-left: 15px;
    color: #84b7c7;
    font-weight: bold;
    font-size: 12px;
  }
}

@media (min-width: 730px) {
  .container {
    padding: 15px 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
