.contentContainer {
  width: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;

  .volumeHeader {
    margin: 5px auto;
    text-align: center;
  }

  p {
    margin: 15px 0;
    line-height: 30px;
    margin: 20px 0;
    color: #d3d3d3;
    font-size: 18px;
    letter-spacing: 0.03em;
    white-space: pre-wrap;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: break-word;
  }
}

@media (min-width: 730px) {
  .contentContainer {
    width: 80%;
    padding: 40px 60px;
  }

  .volumeHeader {
    max-width: 60%;
  }
}
